<% if current_user.notifications.where(read:false).count > 0 %>
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:16px;">
		<span style="color:#db554e"><%= current_user.notifications.where(read:false).count%>
			<span class="glyphicon glyphicon-flag"></span>
		</span>
	</a>
	<ul class="dropdown-menu" style="width:325px">
	    <%= render current_user.notifications.where(read: false).order('created_at DESC').first(5)%>
	      <li class="text-center"><%= link_to "View All", "/user/#{current_user.username}" %></li>
	</ul>
<% else %>
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:16px;">
		0 <span class="glyphicon glyphicon-flag"></span>
	</a>
	<ul class="dropdown-menu" style="width:300px">
		<li class="text-center text-muted" style="font-size:15px"> No new notifications </li>
		<li class="divider"></li>
	    <li class="text-center"><%= link_to "View All", "/user/#{current_user.username}" %></li>
	</ul>
<% end %>