<li style="display:inline; background-color:#fceae5;">
  <div style="margin-left:20px; margin-top:1px; margin-bottom:1px"><%= link_to "#{notification.notified_by.username} #{notification.notice_type}ed  your question", link_through_path(notification)%> <%="#{time_ago_in_words(notification.created_at)} ago"%> 
  	<br> 
  	<span class="text-muted" style="text-align:left;"><%=Question.find_by_id(notification.question_id).content.truncate(40)%>
  	<br>
  	<span class="text-muted" style="text-align:left;"><i><%=Answer.find_by_id(notification.identifier).content.truncate(40)%></i>
	</div>
</li>
 <li class="divider"></li>