<body>  
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="container" style="padding-left:50%">
	      <%= link_to(image_tag("cashew.png", :alt => "logo", :title => "Home", :class=>"text-center",:style=>"width:13%;height:13%;padding:10px;margin-left: -30px;float:none"), "/") %>
	    </div>
	</nav>

    <div class="container"> 
    	<!-- left hand side layout -->
    	<div class="col-md-6 col-md-offset-3 text-center"> 
    	    <h4><b>Privacy Policy</b></h4>
            <p>
				Q+Ashew saves your university email to create and identify your unique account. It also saves information about your submitted content and questions that you've starred, so that you can reference these later. </p>
			<p>
				In the event that a post is reported and deemed as inappropriate, it will be removed.  
			</p>
			<p> 
				Data is stored securely and can only be accessed by the site administrator. 
			</p> 
			<p>
				You may email qashew.forum@gmail.com with any further questions. <br>If you do not consent to the privacy policy, please refrain from using this service.
            </p>
        </div>
    </div>
</body>