<div> 
	<!-- left hand side layout -->
	<div class="col-md-9 panel panel-default"> 
	    <h4><b>@<%=current_user.username%></b></h4>
    </div>

    <!-- right hand side layout -->
    <div class="col-md-3"> 

        <!-- container for user info -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h5><b>@<%= current_user.username %></b></h5>
          </div>
          <div class="panel-footer">
            Notifications <span class="badge badge-pill badge-danger">0</span>
          </div>
        </div>
        <div class="divider"></div>
        <!-- container for followed tags -->
        <div class="panel panel-default">
            <div class="panel-body">
                <p style="font-size: 16px;"><b>Followed tags</b></p>
                You're not following any tags yet. 
            </div>
        </div>
        <div class="divider"></div>
        <!-- container for trending tags -->
        <div class="panel panel-default">
            <div class="panel-body">
                <p style="font-size: 16px;"><b>Trending tags</b></p>
                <div id='tag_cloud'>
                  <% tag_cloud Question.tag_counts, %w{s m l} do |tag, css_class| %>
                      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                  <% end %>
                </div>       
            </div>
		</div>
        <div class="divider"></div>
	</div>
</div>