<body>  
    <%= render '/layouts/nav' %>

    <div class="container"> 
    	<!-- left hand side layout -->
    	    <h3><b>Notifications</b></h3>
            <ul style="list-style:none; margin:0;padding:0;">
                <%= render :partial => "notifications/notification_feed", :collection => @notifications, :as => :notification  %>
            </ul>

                    <%= paginate @notifications %>
                    <%= page_entries_info @notifications %>
    </div>

</body>